[submodule "submodules/BinarySerializer"]
	path = submodules/BinarySerializer
	url = https://github.com/BinarySerializer/BinarySerializer
[submodule "submodules/BinarySerializer.Nintendo"]
	path = submodules/BinarySerializer.Nintendo
	url = https://github.com/BinarySerializer/BinarySerializer.Nintendo
